
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    overflow-x: hidden; 
}



.navbar {
    display: block;
    position: absolute;
    grid-area: 20px;
}

.logo {
    margin-left: 10rem;
    width: 9.25rem;
    height: 6.5rem;
    cursor: pointer;
    color: #e50914;
}


.selection {
    position: absolute;
    display: flex;
    top: 25px;
    left: 65rem;
    gap: 21px;
}


#language {
    height: 30px;
    width: 120px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 5px;
    text-align: center;
    background-color: #000;
    color: white;
    opacity: 0.5;
    font-weight: bolder;



}

.singin {
    font-weight: 700;
    height: 33px;
    width: 70px;
    border: 0.1px solid rgb(23, 21, 21);
    border-radius: 3px;
    background-color: #e50914;
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
    z-index: 100;
}

.line {
    padding: 7rem 10rem;
    text-align: center;
    font-size: 48px;
    color: #fff;
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
    font-weight: 900;
}

.pra1 {
    position: absolute;
    top: 18rem;
    left: 29%;
    text-align: center;
    color: #ffffff;
    font-size: 24px;
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
    margin: 0px 10rem;
}

.pra2 {
    color: #ffffff;
    font-size: 19px;
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
    text-align: center;
}

.email {
    position: relative;
    gap: 20px;
    margin: 15px 0px;
    display: flex;
    justify-content: space-between;
    color: #ffffff;
    z-index: 999;
}

.email2 {
    position: absolute;
    color: #ffffff;
    padding: 0px 20px;
    border: 0.2px solid white;
    background-color: transparent;
    opacity: 0.6;
    width: 20rem;
    height: 48px;
    font-weight: 800;
    margin-left: 29rem;
    font-size: 14px;
    border-radius: 5px;

}

.get {
    position: absolute;
    left: 50rem;
    width: 11rem;
    height: 49px;
    font-weight: 500;
    font-size: 24px;
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
    color: #ffffff;
    background-color: #e50914;
    border-radius: 7px;
    text-align: center;
    text-decoration: none;
}

.btm {
    height: 7px;
    width: 100%;
    background-color: rgb(85, 84, 84);

}

.body3 {
    background-color: #000;
    width: 100%;
    height: 80vh;
    color: #ffffff;
    display: inline-block;
}

.vidim {
    display: flex;
    justify-content: space-between;
}

.tv {
    position: relative;
    z-index: 1000;
    padding: 0px 90px;
}


.videotv {
    position: absolute;
    padding: 91px 0rem;
    left: 54rem;
}

.header2 {
    display: inline-block;
    justify-content: center;
    padding: 8rem 110px;
    gap: 70px;
    position: relative;

}

.Enjoy {
    font-size: 48px;
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
    font-weight: 900;

}

span {
    font-size: 22px;
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
    font-weight: 400;
    position: absolute;
    top: 43%;
}

.btm1 {
    height: 7px;
    width: 100%;
    background-color: rgb(85, 84, 84);
}

.body4 {
    background-color: #000;
    width: 100%;
    height: 85vh;
    color: #ffffff;
    display: inline-block;
}


.body4 {
    color: #ffffff;
    display: flex;
    justify-content: center;
    padding: 3px 0px;
}

.bored2 {
    position: relative;
}

.videoim2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.boerd {
    position: absolute;
    border: 2px solid #ffffff;
    background-color: black;
    display: flex;
    height: 90px;
    width: 20rem;
    border-radius: 9px;
    left: 17.5rem;
    margin-top: 20rem;
    padding: 10px 9px;
}


.download3 {
    height: 2rem;
    width: 2rem;
    margin-left: 27px;
}

.boerd img {
    height: 70px;
    width: 60px;
}

.pre22 {
    display: flex;
    flex-direction: column;
    padding: 18px 18px;
}

.Download1 {
    font-size: 16px;
    font-weight: 700;
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
}

.Download2 {
    color: blue;
}

.title2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-right: 45px;
}

.title {
    font-size: 48px;
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
    font-weight: 900;
}

.pra6 {
    font-size: 24px;
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
    font-weight: 500;
}


.down2 {
    width: 60px;
    min-height: 50px;
}

.btm2 {
    height: 7px;
    width: 100%;
    background-color: rgb(85, 84, 84);
}

.body5 {
    background-color: #000;
    width: 100%;
    height: 80vh;
    color: #ffffff;
    display: flex;
    
    
}

.title3 {
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    
}
.bite{
    padding: 60px 90px;
}

.title4{
    font-size: 48px;
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
    font-weight: 900;   
}

.pra7 {
    font-size: 24px;
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
    font-weight: 400;
    
}

.both {
    display: flex;
    justify-content: center;
}

.image {
    position: relative;
    z-index: 100;
    height: 380px;
    width: 540px;
}

.video2 {
    position: absolute;
    margin-top: 32px;
    left: 50rem;
}

.video2 video {
    height: 240px;
    width: 400px;
}

.btm3 {
    height: 7px;
    width: 100%;
    background-color: rgb(85, 84, 84);
}

.body6{
    background-color: #000;
    width: 100%;
    height: 80vh;
    color: #ffffff;
    display: flex;
}

.body6{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    gap: 40px;
    padding-right: 50px;
}

.test{
    display: flex;
    flex-direction: column;
}

.logetext{
    font-size: 48px;
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
    font-weight: 900;  
}

.pra8{
    font-size: 24px;
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
    font-weight: 400;
}

.btm4 {
    height: 7px;
    width: 100%;
    background-color: rgb(85, 84, 84);
}
.body7{
    background-color: #000;
    width: 100%;
    height: 110vh;
    color: #ffffff;
    
}

.alldiv{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.fonte {
    font-size: 48px;
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
    font-weight: 900;
    margin-top: 30px;
    text-align: center;
    color: #ffffff;
}
 svg{
    filter: invert(1);
}

.net{
    font-size: 24px;
    font-weight: 400;
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
    display: flex;
    justify-content: space-between;
    
}

.bora:hover{
    background-color: #414141;
    color: #ffffff;
}
.bora1:hover{
    background-color: #414141;
    color: #ffffff;
}
.bora2:hover{
    background-color: #414141;
    color: #ffffff;
}
.bora3:hover{
    background-color: #414141;
    color: #ffffff;
}
.bora4:hover{
    background-color: #414141;
    color: #ffffff;
}
.bora5:hover{
    background-color: #414141;
    color: #ffffff;
}

.bora{
    transition: all 0.1s ease-in;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 0.1 solid #212121;
    height: 70px;
    width: 70%;
    background-color: #212121;
    padding: 0px 35px;
    margin-top: 20px;
    margin-left: 200px;   
    
}
.bora1{
    transition: all 0.1s ease-in;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 0.1 solid #212121;
    height: 70px;
    width: 70%;
    background-color: #212121;
    padding: 0px 35px;
    margin-top: 10px;
    margin-left: 200px;   
    
    
}
.bora2{
    transition: all 0.1s ease-in;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 0.1 solid #212121;
    height: 70px;
    width: 70%;
    background-color: #212121;
    padding: 0px 35px;
    margin-top: 10px;
    margin-left: 200px;   
    
}

.bora3{
    transition: all 0.1s ease-in;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 0.1 solid #212121;
    height: 70px;
    width: 70%;
    background-color: #212121;
    padding: 0px 35px;
    margin-top: 10px;
    margin-left: 200px;   
}
.bora4{
    transition: all 0.1s ease-in;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 0.1 solid #212121;
    height: 70px;
    width: 70%;
    background-color: #212121;
    padding: 0px 35px;
    margin-top: 10px;
    margin-left: 200px;   
    
}
.bora5{
    transition: all 0.1s ease-in;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 0.1 solid #212121;
    height: 70px;
    width: 70%;
    background-color: #212121;
    padding: 0px 35px;
    margin-top: 10px;
    margin-left: 200px;   
}

.btm5 {
    height: 7px;
    width: 100%;
    background-color: rgb(85, 84, 84);
    margin-top: 80px;
}

.body8{
    background-color: #000;
    width: 100%;
    height: 65vh;
    color: #ffffff;
    
}
.body8{
    position: relative;
}
.Questions2{
    position: absolute;
    top: 80px;
    left: 13rem;
    font-size: 16px;
    color: #b3b3b3;
    font-weight: 400;
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
}

.sora{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;
    padding: 7rem 80px;
    margin-right: 12rem;
    font-size: 14px;
    font-weight: 600;
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
    position: relative;
}

.foote2 ul li a{
    color: #b3b3b3    
}
.foote3 ul li a{
    color: #b3b3b3    
}
 ul li a{
    color: #b3b3b3    
}
.foote5 ul li a{
    color: #b3b3b3    
}

ul {
    padding: 20px;
    list-style-type: none;
}

#language2 {
    position: absolute;
    left: 13rem;
    top: 19rem;
    height: 30px;   
    width: 120px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 5px;
    text-align: center;
    background-color: #000;
    color: white;
    opacity: 0.5;
    font-weight: bolder;
}

.netflix2{
    font-size: 14px;
    font-weight: 600;
    margin-left: 13rem;
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
    margin-bottom: 60rem;
    position: absolute;
    top: 23rem;
    color: #b3b3b3  
}



